/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg-image
{
    background-color: #4EA0FF;
    background-size: 300px;
    background-image: url(/img/pattern.png);
}

.booleaneer-logo
{
    height: 50px;
    margin-top: 70px;
}

.grey-text 
{
    color: grey;
}

.skyblue-text
{
    color: #4EA0FF;
}

.bg-yellow
{
    background-color: #FFFF00;
}

article
{
    margin-top: 25px;
    margin-bottom: 25px;
}

ul
{
    list-style: outside;
    margin-left: 20px;
}

table{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.tablehead
{
    background-color: #20A9E5;
    color: #ffffff;
}

.skybg
{
    background-color: #B1E5F2;
}